In [3]:
import pandas as pd

In [18]:
def process_google_trends(file_path, search_words):
    """
    Reads a csv file containing Google Trends data, resamples it to daily frequency,
    interpolates missing values, and slices the data for a specific time period.

    Parameters:
    file_path (str): Path to the csv file.
    start_date (str): Start date of the period of interest in the format 'YYYY-MM-DD'.
    end_date (str): End date of the period of interest in the format 'YYYY-MM-DD'.

    Returns:
    df_daily (DataFrame): Processed Google Trends data.
    """
    # Read csv file
    #df = pd.read_csv(file_path)

    # Ensure 'date' column is a datetime
    df['date'] = pd.to_datetime(df['date'])

    # Set 'date' as index
    df.set_index('date', inplace=True)
    
    # Shift the 'search_HeroDMCHeartInstitute' and 'search_chestpain' columns by 2 days
    df[word] = df[word].shift(2)

    # aggregate the dataframe on a weekly basis 
    df[word] = df[word].resample('W-SUN').last()


    # Resample the data to daily frequency and interpolate
    #df_daily = df.resample('D').mean().interpolate(method='linear')

    # Cut the time frame to the specified period
    #df_daily = df_daily.loc[(df_daily.index >= start_date) & (df_daily.index <= end_date)]
    
    return df

In [ ]:
df['search_agakhanhospital'] = df['search_agakhanhospital'].astype(int)

In [72]:
df_aga = pd.read_csv(f'{path}search_agakhanhospital.csv')
df_aga = df_aga.iloc[1:]
df_aga['search_agakhanhospital'] = df_aga['Kategorie: Alle Kategorien']
df_aga.drop('Kategorie: Alle Kategorien', axis=1, inplace=True)
df_aga.index = pd.to_datetime(df_aga.index)
df_aga['search_agakhanhospital'] = df_aga['search_agakhanhospital'].astype(int)
df_aga['search_agakhanhospital'] = df_aga.resample('W-SUN').last()
#df['search_agakhanhospital'] = df['search_agakhanhospital'].astype(int)
#

In [77]:
df_hero = pd.read_csv(f'{path}search_HeroHeartHospital_2022-23.csv')
df_hero = df_hero.iloc[1:]
df_hero['search_agakhanhospital'] = df_hero['Kategorie: Alle Kategorien']
df_hero.drop('Kategorie: Alle Kategorien', axis=1, inplace=True)
df_hero.index = pd.to_datetime(df_hero.index)
df_hero['search_agakhanhospital'] = df_hero['search_agakhanhospital'].astype(int)
df_hero['search_agakhanhospital'] = df_hero.resample('W-SUN').last()
#df['search_agakhanhospital'] = df['search_agakhanhospital'].astype(int)
#

In [79]:
df_hero = pd.read_csv(f'{path}search_HeroHeartHospital_2022-23.csv')

In [80]:
df_hero

                    Kategorie: Alle Kategorien
Woche       Hero DMC Heart Institute: (Punjab)
2021-05-30                                   0
2021-06-06                                   0
2021-06-13                                   0
2021-06-20                                  66
...                                        ...
2023-06-11                                  36
2023-06-18                                  40
2023-06-25                                   0
2023-07-02                                  34
2023-07-09                                   0

[112 rows x 1 columns]

In [56]:
df_aga

           search_agakhanhospital
2022-01-02                     25
2022-01-09                     32
2022-01-16                      0
2022-01-23                     22
2022-01-30                     40
...                           ...
2023-06-04                     32
2023-06-11                     23
2023-06-18                     27
2023-06-25                     30
2023-07-02                     58

[79 rows x 1 columns]

In [ ]:
df['date'] = pd.to_datetime(df['date'])

# Set 'date' as index
df.set_index('date', inplace=True)

In [ ]:
# Define your Google Trends csv files and their corresponding search words
files = [ 
         'search_HeroDMCHeartInstitute.csv', 
         'search_chestpain.csv', ]

search_words = [ 'search_HeroDMCHeartInstitute', 'search_chestpain',]

path = '/Users/simonrahenbrock/Documents/thesis_code/datasets/'

# Process each file and merge the results
merged_df = None
for file, word in zip(files, search_words):
    df = process_google_trends(path + file, word)
    df.columns = [word]  #searhcword
    if merged_df is None:
        merged_df = df
    else:
        merged_df = pd.merge(merged_df, df, left_index=True, right_index=True)

# Save the merged DataFrame to a new csv file
merged_df.to_csv(f'{path}merged_google_trends.csv')

In [10]:
merged_df

            search_HeroDMCHeartInstitute  search_chestpain
2017-01-01                           NaN               NaN
2017-01-08                           NaN               NaN
2017-01-15                           0.0               0.0
2017-01-22                          60.0              39.0
2017-01-29                           0.0               0.0
...                                  ...               ...
2019-04-28                           0.0              24.0
2019-05-05                           0.0              23.0
2019-05-12                           0.0               0.0
2019-05-19                           0.0              24.0
2019-05-26                           0.0              25.0

[130 rows x 2 columns]